# Environment files
.env
.env.local
.env.*.local
*.env

# Dependencies
/backend/vendor/
/frontend/node_modules/
node_modules/
vendor/

# Backend specific
/backend/storage/*.key
/backend/storage/framework/cache/*
/backend/storage/framework/sessions/*
/backend/storage/framework/views/*
/backend/storage/logs/*
/backend/bootstrap/cache/*

# Frontend specific
/frontend/dist/
/frontend/dist-ssr/
*.local

# IDE & System
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
